#seccion1, #seccion2 {
	border: 1px solid White;
	color: #fff;
	margin: 30px;
	text-align: center;
	border-radius: 20px;
	font-size: 35px;
	
	background-image: url("../img/background.jpg");
}

body {
	background-color: black
}

#titulo1, #titulo2 {
	text-align: right;
	font-size: 35px;
}

input {
	border-radius: 35px;
	font-size: 15px;

}

#Boton {
	font-size: 50px;
}